.cards{
    position: relative;
    /* min-height: 220px !important; */
    min-width: 300px;
    margin: 20px 10px !important;
}
.title{
    height:100%;
    width:100%;
    position:absolute;
    align-items: flex-end;
}
.card-body {
    background-color: #D9D9D9 ;
    padding: 10px 10px !important;
}
.card-img-top {
    height: 100%;
}
.card-text {
    font-weight: 600;
    color: #000000;
    margin: 0 !important;
}
.card-body {
    margin: 0 !important;
}
.fa-star {
    color: #F9A62B;
}



